/* Tooltip styles */
@import url("https://fonts.googleapis.com/css?family=Capriola|Playfair+Display:400|Roboto:300,400");
[tooltip] {
  position: relative; }

[tooltip]:before {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  border-width: 10px 10px 0 10px;
  border-style: solid;
  z-index: 99;
  opacity: 0;
  border-color: #c5c6c7 transparent transparent;
  transform: translateX(-50%) rotate(-180deg); }

[tooltip].success:before {
  border-color: #c5c6c7 transparent transparent; }

[tooltip]:after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: 80%;
  background-color: #1f2833;
  text-align: center;
  color: #c5c6c7;
  padding: 10px 15px;
  font-size: 10px;
  font-size: 1rem;
  min-width: 120px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 99;
  opacity: 0;
  margin-top: 10px;
  transform: translateX(-50%);
  text-rendering: optimizeLegibility;
  text-indent: 0;
  line-height: 1.3em; }

[tooltip].success:after {
  color: #66fcf1; }

[tooltip]:hover:after, [tooltip]:hover:before {
  opacity: 1; }

.flickity-button {
  background: transparent; }
  .flickity-button:hover {
    background: #45a29e; }

.flickity-button-icon {
  fill: #c5c6c7; }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px; }
  .flickity-prev-next-button.previous {
    left: -15px; }
  .flickity-prev-next-button.next {
    right: -15px; }

.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: transparent;
  border: 2px solid #c5c6c7; }
  .flickity-page-dots .dot.is-selected {
    background: #c5c6c7; }

* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  scroll-snap-type: y proximity; }

section {
  background-color: #1f2833;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2345A29E' fill-opacity='0.15' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 100%;
  min-height: 550px;
  min-width: 300px;
  width: calc(100% - 40px);
  padding: 20px;
  border-bottom: 5px solid rgba(12, 12, 16, 0.65); }

h1 {
  color: #66fcf1;
  font-family: 'Playfair Display', serif;
  line-height: 3rem; }

h2 {
  color: #66fcf1;
  margin-bottom: 1rem;
  font-family: 'Capriola', sans-serif;
  text-shadow: 5px 5px 5px #0b0c10; }

h3 {
  color: #45a29e;
  font-family: 'Capriola', sans-serif;
  text-shadow: 4px 4px 5px #0b0c10; }

p,
a,
li {
  font-family: 'Roboto', sans-serif; }

p,
li {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #45a29e; }
  a:hover {
    color: #66fcf1; }

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 98; }
  nav #hamburger {
    position: fixed;
    top: 1em;
    right: 1em;
    cursor: pointer; }
    nav #hamburger:hover span {
      background-color: #66fcf1; }
    nav #hamburger span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      background: #45a29e;
      border-radius: 3px;
      z-index: 99;
      transform-origin: 4px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      nav #hamburger span:nth-of-type(1) {
        transform-origin: 0% 0%; }
      nav #hamburger span:nth-of-type(3) {
        transform-origin: 0% 100%; }
    nav #hamburger.open span:nth-of-type(1) {
      transform: rotate(45deg) translate(-4px, -1px); }
    nav #hamburger.open span:nth-of-type(2) {
      opacity: 0;
      transform: scale(0.2, 0.2); }
    nav #hamburger.open span:nth-of-type(3) {
      transform: rotate(-45deg) translate(-2px, -1px); }
  nav #nav-list {
    display: none;
    opacity: 0;
    background-color: #c5c6c7;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    height: 100vh;
    animation: fadeInFromNone 0.3s ease-in-out; }
    nav #nav-list.open {
      display: flex;
      opacity: 1; }
    nav #nav-list li {
      list-style: none; }
      nav #nav-list li a {
        font-size: 1.5rem;
        font-weight: 400; }

#hero {
  background-color: #0b0c10;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  #hero #particles-js {
    grid-area: 1 / 1 / -1 / -1; }
  #hero .title {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    text-align: center;
    z-index: 1; }
    #hero .title h1 {
      font-size: 3rem;
      margin-bottom: 5px; }
      #hero .title h1 span {
        display: block;
        text-align: center; }
    #hero .title h2 {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #45a29e; }

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  #about h2 {
    align-self: flex-start;
    margin-bottom: 2rem; }
  #about img {
    border: 3px solid rgba(12, 12, 16, 0.65);
    border-radius: 50%;
    height: 30vh;
    max-width: 100%;
    margin-bottom: 2rem; }
  #about p {
    color: #c5c6c7;
    width: 80%; }

#projects {
  padding-bottom: 35px; }
  #projects .carousel-cell {
    width: 75%;
    max-width: 400px;
    height: 70vh;
    min-height: 400px;
    max-height: 610px;
    margin-right: 10px;
    padding: 1rem 2rem;
    border: 4px solid rgba(12, 12, 16, 0.65);
    border-radius: 10px;
    background: #1f2833;
    color: #c5c6c7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: none; }
    #projects .carousel-cell h3 {
      color: #45a29e;
      margin-bottom: 1rem; }
    #projects .carousel-cell a.button {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      text-decoration: none;
      background-color: #45a29e;
      color: #0b0c10;
      padding: 1px 10px;
      font-size: 1.3rem;
      border: 2px solid rgba(12, 12, 16, 0.65);
      border-radius: 10px;
      box-shadow: 5px 5px 5px #0b0c10; }
      #projects .carousel-cell a.button:hover {
        background-color: #66fcf1; }
    #projects .carousel-cell img {
      max-width: 100%;
      max-height: 45%;
      box-shadow: 5px 5px 5px #0b0c10;
      border-radius: 3px; }
    #projects .carousel-cell ul {
      display: none;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      margin-top: auto;
      width: 100%; }
      #projects .carousel-cell ul i {
        color: #45a29e;
        font-size: 30px; }

#skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  #skills h3 {
    margin-bottom: 0.5rem; }
  #skills ul {
    margin-left: 20px;
    margin-bottom: 10px; }
    #skills ul li {
      color: #c5c6c7;
      line-height: 1.4rem; }

#contact {
  background-color: #0b0c10; }
  #contact h2 {
    margin-bottom: 1rem; }
  #contact ul {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    #contact ul li {
      display: inline-block;
      margin-bottom: 1rem; }
      #contact ul li a i,
      #contact ul li span i {
        cursor: pointer;
        font-size: 3rem;
        color: #45a29e; }
        #contact ul li a i:link,
        #contact ul li span i:link {
          color: #45a29e; }
        #contact ul li a i:visited,
        #contact ul li span i:visited {
          color: #45a29e; }
        #contact ul li a i:hover,
        #contact ul li span i:hover {
          color: #66fcf1; }

@media (min-height: 550px) {
  section {
    height: calc(100vh - 40px);
    scroll-snap-align: start; }

  h2 {
    font-size: 4vh; }

  h3 {
    font-size: 3vh; }

  p,
  li,
  #projects .carousel-cell a.button {
    font-size: 2vh;
    line-height: 3.2vh; }

  #skills ul li {
    line-height: 3.5vh; }

  #projects {
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: 4vh 1fr 3vh; }
    #projects .carousel {
      align-self: center; }

  #contact ul li a i,
  #contact ul li span i {
    font-size: 8vh; } }
@media (min-height: 700px) {
  #projects .carousel-cell ul {
    display: flex; } }
@media (min-height: 900px) {
  h2 {
    font-size: 36px; }

  h3 {
    font-size: 27px; }

  p,
  li,
  #projects .carousel-cell a.button {
    font-size: 18px;
    line-height: 29px; }

  #skills ul li {
    line-height: 32px; } }
@media (min-width: 500px) {
  h2 {
    text-align: center; }

  #about h2,
  #skills h2 {
    align-self: center; }

  #projects .carousel-cell ul i {
    font-size: 40px; }

  #contact ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 20px; }
    #contact ul li {
      text-align: center; }
      #contact ul li a i {
        font-size: 80px; }
      #contact ul li:nth-of-type(1) {
        grid-area: 2 / 1 / 3 / 3; }
      #contact ul li:nth-of-type(2) {
        grid-area: 2 / 3 / 3 / 5; }
      #contact ul li:nth-of-type(3) {
        grid-area: 2 / 5 / 3 / 7; }
      #contact ul li:nth-of-type(4) {
        grid-area: 3 / 2 / 4 / 4; }
      #contact ul li:nth-of-type(5) {
        grid-area: 3 / 4 / 4 / 6; } }
@media (min-width: 650px) {
  #skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 80px;
    justify-items: center; }
    #skills h2 {
      grid-area: 1 / 1 / 2 / 4;
      align-self: start; }
    #skills .skill-list {
      grid-row: 3 / 4; } }
@media (min-width: 800px) {
  #hero .title h1 span {
    display: inline; } }
@media (min-width: 1000px) {
  h2 {
    margin-top: 35px; }

  nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; }
    nav #hamburger {
      display: none; }
    nav #nav-list {
      padding: 5px;
      background-color: #0b0c10;
      display: flex;
      opacity: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      height: auto; }
      nav #nav-list li {
        margin: 0.5rem 2rem; }

  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 80px; }
    #about h2 {
      grid-area: 1 / 1 / 2 / 4;
      align-self: stretch; }
    #about p {
      font-size: 1.3rem;
      font-weight: 300;
      line-height: 2rem;
      margin-left: 50px;
      max-width: 550px; }
    #about img {
      justify-self: end;
      height: 80%;
      max-height: 500px;
      max-width: 500px;
      margin-bottom: 0;
      margin-right: 50px; }

  #projects .carousel-cell {
    max-width: 700px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 40px 1fr 80px;
    justify-items: center;
    align-items: start;
    grid-row-gap: 1em; }
    #projects .carousel-cell h3 {
      grid-area: 1 / 1 / 2 / 4;
      margin-bottom: 0; }
    #projects .carousel-cell p {
      grid-area: 3 / 1 / 4 / 2;
      font-size: 18px;
      font-weight: 300; }
    #projects .carousel-cell a.button {
      grid-area: 2 / 1 / 3 / 3;
      margin-top: 0; }
    #projects .carousel-cell img {
      grid-area: 3 / 2 / 4 / 3;
      margin-top: 0;
      max-width: 80%;
      max-height: 100%; }
    #projects .carousel-cell ul {
      display: flex;
      grid-area: 4 / 1 / 5 / 4; }

  #skills li {
    font-size: 18px; }

  #contact ul {
    display: flex;
    flex-direction: row; }
    #contact ul li a i {
      font-size: 100px; } }
html.can-touch a:hover {
  color: #45a29e; }
html.can-touch #hamburger:hover span,
html.can-touch #projects a.button:hover {
  background-color: #45a29e; }
html.can-touch .flickity-button:hover {
  background: transparent; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

.project-image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }

.project-image:hover {
  transform: scale(1.05); }

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1500px; }

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.4s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
