// smaller, rounded square
.flickity-button {
  background: transparent;

  &:hover {
    background: $dblue;
  }
}

// set button color
.flickity-button-icon {
  fill: $lgrey;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;

  // position buttons outside
  &.previous {
    left: -15px;
  }

  &.next {
    right: -15px;
  }
}

.flickity-page-dots {
  //  lgrey circles
  .dot {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: transparent;
    border: 2px solid $lgrey;

    // fill-in selected dot
    &.is-selected {
      background: $lgrey;
    }
  }
}
