/* smaller, dark, rounded square */
.flickity-button {
  background: transparent;
}
.flickity-button:hover {
  background: $dblue;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* icon color */
.flickity-button-icon {
  fill: $lgrey;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -15px;
}
.flickity-prev-next-button.next {
  right: -15px;
}

/* position dots in carousel */
.flickity-page-dots {
  // bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: transparent;
  border: 2px solid $lgrey;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: $lgrey;
}