/* Tooltip styles */
[tooltip] {
  position: relative;
  // display: inline-block;
}

[tooltip]:before {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  border-width: 10px 10px 0 10px;
  border-style: solid;
  z-index: 99;
  opacity: 0;
  border-color: $lgrey transparent transparent;
  transform: translateX(-50%) rotate(-180deg);
}

[tooltip].success:before {
  border-color: $lgrey transparent transparent;
}

[tooltip]:after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: 80%;
  background-color: $mgrey;
  text-align: center;
  color: $lgrey;
  padding: 10px 15px;
  font-size: 10px;
  font-size: 1rem;
  min-width: 120px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 99;
  opacity: 0;
  margin-top: 10px;
  transform: translateX(-50%);
  text-rendering: optimizeLegibility;
  text-indent: 0;
  line-height: 1.3em;
}

[tooltip].success:after {
  color: $lblue;
}

[tooltip]:hover:after, [tooltip]:hover:before {
  opacity: 1;
}